<!DOCTYPE html>
<title>FindRoof</title>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <body>
        <header th:fragment="header">
            <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
            	 <div class="navbar-header">
      					<a class="navbar-brand" href="#">FindRoof</a>
   				</div>
            	<div class="collapse navbar-collapse nav navbar-nav" id="navbarNavAltMarkup">
                <a class="nav-item nav-link" sec:authorize="isAuthenticated()" th:href="@{/auth}">Annonces</a>
                <a class="nav-item nav-link" sec:authorize="isAuthenticated()" th:href="@{/auth}">Mes contracts</a>
                <a class="nav-item nav-link" sec:authorize="isAuthenticated()" th:href="@{/auth}">Mes demandes</a>
                <!-- use exemples
                <a class="nav-item nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">Log In</a>
                <a class="nav-item nav-link" sec:authorize="hasAuthority('ADMINISTRATOR')" th:href="@{/auth/admin}">Admin Page</a>
                -->
                </div>
                
                <div>
                		<form sec:authorize="!isAuthenticated()" th:action="@{/register}" method="post">
                    		<input class="btn btn-primary navbar-btn" type="submit" value="Register">
                		</form>
                		<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                    		<input class="btn btn-danger navbar-btn" type="submit" value="Logout">
                		</form>
                </div>
                </sec:authorize>
            </nav>
        </header>
    </body>
</html>