<html>
<head th:replace="fragments/global-head::global-head">
	<meta charset="utf-8">
</head>

 <body>
        <header th:fragment="header">
            <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
            	 <div class="navbar-header">
      					<a class="navbar-brand" th:href="@{/login}">FindRoof</a>
   				</div>
            	<div class="collapse navbar-collapse nav navbar-nav" id="navbarNavAltMarkup">
                <a class="nav-item nav-link" sec:authorize="isAuthenticated()" th:href="@{/posts}">Annonces</a>
                <a class="nav-item nav-link" sec:authorize="isAuthenticated()" th:href="@{/possessions}">Mes locations</a>
                <a class="nav-item nav-link" sec:authorize="isAuthenticated()" th:href="@{/requests}">Gérer mes demandes</a>
                </div>
                
                <div>
                		<form sec:authorize="!isAuthenticated()" th:action="@{/register}">
                    		<input class="btn btn-primary navbar-btn" type="submit" value="Register">
                		</form>
                		<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                    		<input class="btn btn-danger navbar-btn" type="submit" value="Logout">
                		</form>
                </div>
                </sec:authorize>
            </nav>
        </header>
    </body>
</html>