<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/global-head::global-head">
</head>

<header th:replace="fragments/header::header"></header>

<body class="text-center">
	<form th:action="@{/login}" method="post" class="form-signin">
		<fieldset>
			<img class="mb-4" th:src="@{/images/favico.ico}" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
			<label for="username" class="sr-only">Nom d'utilisateur</label> <input type="text" id="username" name="username" class="form-control" placeholder="username" required autofocus>
			<label for="password" class="sr-only">Mot de passe</label><input type="password" id="password" name="password" class="form-control" placeholder="password" required>
			<p th:if="${loginError}" class="error">Mauvais nom d'utilisateur ou mot de passe</p>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
		</fieldset>
	</form>
</body>

<footer th:replace="fragments/footer::footer"></footer>

</html>