<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/global-head::global-head">	
	<meta charset="utf-8">
	<title> Mes annonces </title>
</head>

<header th:replace="fragments/header::header"></header>

<body>
	<div class="container mt-5 pt-5 mb-5 pb-5">
		<div class="row" th:if="${possessionsOwning.isEmpty() and (#strings.equalsIgnoreCase(person.role,'Propritaire') or #strings.equalsIgnoreCase(person.role,'Propritaire/Locataire')) }">
			<h4>Vous n'avez pas encore publier des annonces</h4>
		</div>
		<div class="row" th:if="${possessionsHolding.isEmpty()}">
			<h4>Vous n'avez pas encore des réservations</h4>
		</div>
		<div class="row" th:if="${#strings.equalsIgnoreCase(person.role,'Propritaire') or #strings.equalsIgnoreCase(person.role,'Propritaire/Locataire')}">
			<form class="col" th:action="@{/addpossessions}">
            	<input class="btn btn-primary navbar-btn float-right" type="submit" value="Ajouter une annonce">
        	</form>
		</div>

		<!-- liste des biens  pour un poroprio-->
		<div class="row" th:if="${!possessionsOwning.isEmpty()}">
			<div class="col-12">
				<h4 class="row border-bottom border-dark pb-2">Mes biens publiés</h4>
				<div class="row">
					<div class="col-4 mt-1 mb-1" th:each="possessionOwning: ${possessionsOwning}">
						<div class="card">
						  <div class="card-body">
						    <h5 class="card-title" th:text="${possessionOwning.possession.name}"></h5>
						    <h6 class="card-subtitle mb-3 text-muted" th:text="${possessionOwning.possession.type}"></h6>
						    <div class="card-text">
								<p class="mb-0">
									<b>Description : </b>
									<label class="mb-0 text-muted" th:text="${possessionOwning.possession.description}"></label>
								</p>
								<p class="mb-0">
									<b>Adresse : </b>
									<label class="mb-0" th:text="${possessionOwning.possession.address.toFrString()}"></label>
								</p>
								<p class="mb-0">
									<b>Surface : </b>
									<label class="mb-0" th:text="${possessionOwning.possession.surface} + 'm²'"></label>
								</p>
								<p class="mb-0">
									<b>Prix : </b>
									<label class="mb-0" th:text="${possessionOwning.possession.price} + ' euros'"></label>
								</p>							
								<p class="mb-0">
									<b>Nombre max locataire : </b>
									<label class="mb-0" th:text="${possessionOwning.possession.maxPerson}"></label>
								</p>
								<p class="mb-0">
									<b>Les locataires : </b>
									<div th:each="holder: ${possessionOwning.possession.houseHolders}">
										<label class="mb-0" th:text="' - '+${holder.firstName} + ${holder.lastName}"></label>
									</div>
								</p>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- liste des biens  que la personne a reservée-->
		<div class="row" th:if="${!possessionsHolding.isEmpty()}">
			<div class="col-12">
				<h4 class="row border-bottom border-dark pb-2">Ma liste de resérvation (validés)</h4>
				<div class="row">
					<div class="col-4 mt-1 mb-1" th:each="possessionHolding: ${possessionsHolding}">
						<div class="card">
						  <div class="card-body">
						    <h5 class="card-title" th:text="${possessionHolding.possession.name}"></h5>
						    <h6 class="card-subtitle mb-3 text-muted" th:text="${possessionHolding.possession.type}"></h6>
						    <div class="card-text">
								<p class="mb-0">
									<b>Description : </b>
									<label class="mb-0 text-muted" th:text="${possessionHolding.possession.description}"></label>
								</p>
								<p class="mb-0">
									<b>Adresse : </b>
									<label class="mb-0" th:text="${possessionHolding.possession.address.toFrString()}"></label>
								</p>
								<p class="mb-0">
									<b>Surface : </b>
									<label class="mb-0" th:text="${possessionHolding.possession.surface} + 'm²'"></label>
								</p>
								<p class="mb-0">
									<b>Prix : </b>
									<label class="mb-0" th:text="${possessionHolding.possession.price} + ' euros' "></label>
								</p>								
								<p class="mb-0">
									<b>Propriétaire : </b>
									<label class="mb-0" th:text="${possessionHolding.possession.houseOwner.firstName} + ${possessionHolding.possession.houseOwner.lastName}"></label>
								</p>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>

<footer th:replace="fragments/footer::footer"></footer>

</html>