<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/global-head::global-head">	
	<title> Annonces </title>
	<meta charset="utf-8">
</head>

<header th:replace="fragments/header::header"></header>

<body>
<div class="container mt-5 pt-5 mb-5 pb-5">
	<div class="row">
		<div class="col-12">
		 
		    <!-- liste des filtres -->
		    <div class="row border mb-2 pt-3 pb-3 pl-1 pr-1">
		    	<form th:action="@{/postsFiltered}" th:object="${boPossessionFilter}" method="post" class="col-12 ">
					<div class="row">
						<div class="col-3">
							<div class="input-group input-group-sm mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="inputGroup-sizing-sm">Adresse</span>
							  </div>
							  <input th:field="*{address.street}" type="text" class="form-control" id="input-filter-adr" name="address" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="inputGroup-sizing-sm">Ville</span>
							  </div>
							  <input th:field="*{address.city}" type="text" class="form-control" id="input-filter-adr" name="address" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
							</div>
						</div>	
						<div class="col-3">
							<div class="input-group input-group-sm mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" min="1" id="inputGroup-sizing-sm">Code Postal</span>
							  </div>
							  <input th:field="*{address.zipCode}" type="number" class="form-control" id="input-filter-adr" name="address" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
							</div>
						</div>	
						<div class="col-3">
							<div class="input-group input-group-sm mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="inputGroup-sizing-sm">Pays</span>
							  </div>
							  <input th:field="*{address.country}" type="text" class="form-control" id="input-filter-adr" name="address" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
							</div>
						</div>																		
						<div class="col-3">
							<div class="input-group input-group-sm mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="inputGroup-sizing-sm">Surface (min,max)</span>
							  </div>
							  <input th:field="*{minSurface}" min="1" type="number" class="form-control" id="input-filter-surface-min" name="surfaceMin" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
							  <input th:field="*{maxSurface}" min="1" class="form-control" id="input-filter-surface-max" name="surfaceMax" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="inputGroup-sizing-sm">Max locataire</span>
							  </div>
							  <input th:field="*{maxPerson}" min="1" type="number" class="form-control" id="input-filter-locataire-max" name="maxPerson" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="inputGroup-sizing-sm">Nbr. place libre</span>
							  </div>
							  <input th:field="*{freePlaces}" min="1" type="number" class="form-control" id="input-filter-place" name="freePlaces" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
							</div>
						</div>								
					</div>
		    		
		    		<div class="row">	
		    			<div class="col mt-3 text-center">
		    				<button type="submit" class="btn btn-outline-primary mr-2" id="btn-filter-apply">Appliquer les filtres</button>
		    			</div>	    
		    		</div>
		    	</form>
		    </div>		

			<!-- liste des annonces -->
			<h4 class="row border-bottom border-dark pb-2">Annonces</h4>
			<div class="row">
				<div class="col-4 mt-1 mb-1" th:each="boPossession: ${boPossessions}">
					<div class="card" th:id="'card-'+${boPossession.possession.id}">
					  <div class="card-body">
					    <h5 class="card-title" th:text="${boPossession.possession.name}"></h5>
					    <h6 class="card-subtitle mb-3 text-muted" th:text="${boPossession.possession.type}"></h6>
					    
					    <div class="card-text">
							<p class="mb-0">
								<b>Description : </b>
								<label class="mb-0 text-muted" th:text="${boPossession.possession.description}"></label>
							</p>
							<p class="mb-0">
								<b>Adresse : </b>
								<label class="mb-0" th:text="${boPossession.possession.address.toFrString()}"></label>
							</p>
							<p class="mb-0">
								<b>Surface : </b>
								<label class="mb-0" th:text="${boPossession.possession.surface} + 'm²'"></label>
							</p>
							<p class="mb-0">
								<b>Prix : </b>
								<label class="mb-0" th:text="${boPossession.possession.price} + ' euros / ' + ${boPossession.priceDollar} + ' dollars' "></label>
							</p>							
							<p class="mb-0">
								<b>Nombre max locataire : </b>
								<label class="mb-0" th:text="${boPossession.possession.maxPerson}"></label>
							</p>
							<p class="mb-0">
								<label class="mb-0" >il reste</label>
								<b th:text="${boPossession.possession.maxPerson - boPossession.possession.houseHolders.size()} + ' places libres'"></b>
							</p>
							<p class="mb-0">
								<b>Propriétaire : </b>
								<label class="mb-0" th:text="${boPossession.possession.houseOwner.firstName} + ' '+ ${boPossession.possession.houseOwner.lastName}"></label>
							</p>
					    </div>
					    
					    <div class="mt-3 text-center" th:if="${person.isBlacklisted == false}">						    
						    <button type="button" class="btn btn-outline-primary mr-2" th:id="'btn-possession-'+${boPossession.possession.id}+'-res'" th:data-holder="${person.id}" th:data-id="${boPossession.possession.id}" >Resérver</button>
					    </div>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
</body>

<footer th:replace="fragments/footer::footer"></footer>

</html>