<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/global-head::global-head">	
	<title> Annonces </title>
</head>

<header th:replace="fragments/header::header"></header>

<body>
	<div class="containter">
		<h1 class="mt-5">annonces</h1>
		<div th:each="possession: ${possessions}">
		    <div th:text="${possession.id}" />
		    <div th:text="${possession.name}" />
		    <div th:text="${possession.address.city}" />
		</div>
		
	</div>
</body>

<footer th:replace="fragments/footer::footer"></footer>

</html>