<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/global-head::global-head">	
	<title> Annonces </title>
	<meta charset="utf-8">
</head>

<header th:replace="fragments/header::header"></header>

<body>
<div class="container mt-5 pt-5 mb-5 pb-5">
	<div class="row">
		<div class="col-12">
			<h4 class="row border-bottom border-dark pb-2">Annonces</h4>
			<div class="row">
				<div class="col-4 mt-1 mb-1" th:each="possession: ${possessions}">
					<div class="card" th:id="'card-'+${possession.id}">
					  <div class="card-body">
					    <h5 class="card-title" th:text="${possession.name}"></h5>
					    <h6 class="card-subtitle mb-3 text-muted" th:text="${possession.type}"></h6>
					    
					    <div class="card-text">
							<p class="mb-0">
								<b>Description : </b>
								<label class="mb-0 text-muted" th:text="${possession.description}"></label>
							</p>
							<p class="mb-0">
								<b>Adresse : </b>
								<label class="mb-0" th:text="${possession.address.toFrString()}"></label>
							</p>
							<p class="mb-0">
								<b>Surface : </b>
								<label class="mb-0" th:text="${possession.surface} + 'm²'"></label>
							</p>
							<p class="mb-0">
								<b>Nombre max locataire : </b>
								<label class="mb-0" th:text="${possession.maxPerson}"></label>
							</p>
							<p class="mb-0">
								<label class="mb-0" >il reste</label>
								<b th:text="${possession.maxPerson - possession.houseHolders.size()} + ' places libres'"></b>
							</p>
							<p class="mb-0">
								<b>Propriétaire : </b>
								<label class="mb-0" th:text="${possession.houseOwner.firstName} + ' '+ ${possession.houseOwner.lastName}"></label>
							</p>
					    </div>
					    
					    <div class="mt-3 text-center">						    
						    <button type="button" class="btn btn-outline-primary mr-2" th:id="'btn-possession-'+${possession.id}+'-res'" th:data-holder="${person.id}" th:data-id="${possession.id}" >Resérver</button>
					    </div>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
</body>

<footer th:replace="fragments/footer::footer"></footer>

</html>