<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/global-head::global-head">
	<meta charset="utf-8">
</head>



<body class="text-center">

	<header th:replace="fragments/header::header"></header>

            <form th:action="@{/register}" th:object="${user}" method="post" class="form-register mt-5">
            
            	<h1 class="h3 mb-3 font-weight-normal">Enregistrement</h1>

				<div th:if="${param.success}">
                	<div class="alert alert-info">
                    	L'enregistrement s'est effectué avec succès !
                	</div>
            	</div>
				
                <div class="form-group text-left" th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                    <label for="firstname" class="control-label">Prenom</label>
                    <input id="firstname" class="form-control" th:field="*{firstName}"/>
                </div>
                <div class="form-group text-left" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                    <label for="lastname" class="control-label">Nom</label>
                    <input id="lastname"
                           class="form-control"
                           th:field="*{lastName}"/>
                </div>
                <div class="form-group text-left" th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                    <label for="username" class="control-label">Nom d'utilisateur</label>
                    <input id="username" class="form-control" th:field="*{username}"/>
                </div>
                <div class="form-group text-left"
                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">Mot de passe</label>
                    <input id="password" class="form-control" type="password" th:field="*{password}"/>
                </div>
                
                <div class="form-group text-left">
                    <label for="role" class="control-label">Role</label>
                    <select name="role"  th:field="*{role}" class="form-control">
   						<option th:value="Owner" >Proprietaire</option>
   						<option th:value="Holder" >Locataire</option>
   						<option th:value="OwnerHolder" >Proprietaire/Locataire</option>
					</select>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>  
                </div>
                <span>Déjà enregistré ? <a href="/" th:href="@{/login}">Connectez-vous ici</a></span>

            </form>
            
	<footer th:replace="fragments/footer::footer"></footer>

</body>
</html>