<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/global-head::global-head">	
	<meta charset="utf-8">
	<title> Gérer mes demandes </title>
</head>


<body>

<header th:replace="fragments/header::header"></header>

<div class="container mt-5 pt-5 mb-5 pb-5">

	<!-- block pour les demandes reçus : seulement s'il est Propritaire ou les deux -->
	<div class="row" th:if="${#strings.equalsIgnoreCase(person.role.name(),'OwnerHolder') or #strings.equalsIgnoreCase(person.role.name(),'Owner')}">
		<div class="col-12" th:if="${!receiveRequests.isEmpty()}">
			<h4 class="border-bottom border-dark pb-2">Demandes reçues</h4>
			<div class="row"> 
				<div class="col-4 mt-1 mb-1" th:each="receiveRequest: ${receiveRequests}">  
					<div class="card" th:id="'card-'+${receiveRequest.id}">
					  <div class="card-body">
					    <h5 class="card-title" th:text="${receiveRequest.possession.name}"></h5>
					    <h6 class="card-subtitle mb-3 text-muted" th:text="'De ' + ${receiveRequest.dateStart} + ' à ' + ${receiveRequest.dateEnd}"></h6>
					    <div class="card-text">
							<p class="mb-0">
								<b>Demandé par : </b>
								<label class="mb-0" th:text="${receiveRequest.houseHolder.firstName} + ${receiveRequest.houseHolder.lastName}"></label>
							</p>
							<p class="mb-0">
								<b>Envoyer le : </b>
								<label class="mb-0" th:text="${receiveRequest.dateStart}"></label>
							</p>
							<p class="mb-0">
								<b>Nombre de locataire actuel : </b>
								<label class="mb-0" th:text="${receiveRequest.possession.houseHolders.size()}"></label>
							</p>
							<p class="mb-0">
								<b>Nombre max locataire : </b>
								<label class="mb-0" th:text="${receiveRequest.possession.maxPerson}"></label>
							</p>
							<p class="mb-0">
								<b>Statut : </b>
								<label class="mb-0" th:id="'label-request-'+${receiveRequest.id}+'-status'" th:text="${receiveRequest.status}"></label>
							</p>
					    </div>
		
					    <div class="mt-3 text-center" th:if="${#strings.equalsIgnoreCase(receiveRequest.status.name(),'InProgress')}">						    
						    <button type="submit" class="btn btn-outline-primary mr-2" th:id="'btn-request-'+${receiveRequest.id}+'-acc'" th:data-id="${receiveRequest.id}" data-status="Valid" >Accepter</button>
						    <button type="submit" class="btn btn-outline-danger ml-5" th:id="'btn-request-'+${receiveRequest.id}+'-ref'" th:data-id="${receiveRequest.id}" data-status="Refuse">Refuser</button>
					    </div>
					    
					  </div>
					</div>
	
				</div>
			</div>
		</div>			
	</div>
		
	<!-- block pour les demandes envoyées : seulement s'il est locataire ou les deux -->
	<div class="row" th:if="${#strings.equalsIgnoreCase(person.role.name(),'OwnerHolder') or #strings.equalsIgnoreCase(person.role.name(),'Holder')}">
		<div class="col-12" th:if="${!sendRequests.isEmpty()}">
			<h4 class="border-bottom border-dark pb-2">Suivi de vos demandes</h4>
			<div class="row"> 
				
				<div class="col" th:each="sendRequest: ${sendRequests}">  
					<div class="card" style="width: 25rem;">
					  <div class="card-body">
					    <h5 class="card-title" th:text="${sendRequest.possession.name}"></h5>
					    <h6 class="card-subtitle mb-3 text-muted" th:text="'De ' + ${sendRequest.dateStart} + ' à ' + ${sendRequest.dateEnd}"></h6>
					    <div class="card-text">
							<p class="mb-0">
								<b>Proposé par : </b>
								<label class="mb-0" th:text="${sendRequest.houseOwner.firstName} + ${sendRequest.houseOwner.lastName}"></label>
							</p>
							<p class="mb-0">
								<b>Envoyer le : </b>
								<label class="mb-0" th:text="${receiveRequest.dateStart}"></label>
							</p>
							<p class="mb-0">
								<b>Nombre max locataire : </b>
								<label class="mb-0" th:text="${receiveRequest.possession.maxPerson}"></label>
							</p>
							<p class="mb-0">
								<b>Statut : </b>
								<label class="mb-0" th:text="${receiveRequest.status}"></label>
							</p>
					    </div>
					  </div>
					</div>	
				</div>
				
			</div>
		</div>			
	</div>
	
</div>
	
<footer th:replace="fragments/footer::footer"></footer>

</body>



</html>